<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">

    
    <title>Miki Klimko</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand">Konferencia XY</a>

    <div class=" collapse navbar-collapse container-fluid" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active">
          <a class="nav-link" href="/">Domov<span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item  ">
              <a class="nav-link" href="/upload">Upload</a>
          </li> -->
      </ul>
      <ul class="navbar-nav  navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="users/register"><span class="fas fa-user-plus"></span>Registrácia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="users/login"> <span class="fas fa-sign-in-alt"></span> Prihlásenie</a>
        </li>


      </ul>

    </div>

  </nav>
  <br>
  <br>
  <br><br><br>

  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-user-lock"></i> Obnova hesla
        </h1>
        <%- include('./partials/messages.ejs'); -%>

        <form action="/users/password" method="POST">
            <div class="form-group">
                <label for="email">E-mail:</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Email@Email.com"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                />
              </div>

              <button type="submit" class="btn btn-primary btn-block">
                Odoslať
              </button>
        </form>

      </div>
    </div>
  </div>


